body {
    margin: 40px;
}

.header {
    margin-bottom: 50px;
}

.header-container {
    display: flex;
    margin-bottom: 15px;
}

.header-question {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    margin-right: 15px;
    width: 500px;
    color: #000;
}

.header-answer {
    font-size: 28px;
    color: #B22222;
}

.task-container {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
}

.task-question {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    margin-right: 15px;
    width: 500px;
    color: #333;
}

.task-answer {
    font-size: 20px;
    color: #B22222;
}